{% extends 'watermarks/base.html' %}
{% block uploads_active %}active{% endblock %}
{% load static %}

{% block title %}Multiple Images{% endblock %}

{% block photos_content %}

<h1>Notizia</h1>
<div class="row mb-2 posts">
                    {% for post in object_list %}
                    <div class="col-md-6">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">{{post.title}}</h3>
                                <p class="mb-auto">{{post.description}}</p>

                                {% for category in notizia.image_set.all %}
                                			{{ category.image }}
                                			{% endfor %}

                            </div>
                        </div>
                    </div>
                    {% endfor %}

            </div>


{% endblock %}
