{% extends 'video/base.html' %}
{% block video_active %}active{% endblock %}
{% block video_content %}

<table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Titolo</th>
            <th scope="col">Azione</th>
          </tr>
        </thead>
{% for instance in object_list %}
             <tbody>
               <tr>
                 <th scope="row">{{ instance.id }}</th>
                 <td>{{ instance.title }}</td>
                 <td>
                  <a href="{{ instance.get_absolute_url }}" class="btn btn-primary"><i class="far fa-eye"></i></a>
                  <a href="../{{ instance.id }}/update" class="btn btn-success"><i class="far fa-edit"></i></a>
                  <a href="../{{ instance.id }}/delete" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                  <a href="../../{{ instance.video_720.url }}" class="btn btn-info" download=""><i class="fas fa-download"></i></a>
                 </td>
               </tr>
{% endfor %}

</tbody>
</table>

{% endblock %}
