{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">
    Foto
    <small>/ {% block title %}{% endblock %}</small>
  </h1>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Examples</h3>
        </div>
        <div class="list-group">
          <a href="{% url 'watermarks:basic_upload' %}" class="list-group-item{% if request.path == '/watermarks/basic-upload/' %} active{% endif %}">
            Watermaks Semplice
          </a>
        </div>
        <div class="list-group mt-4">
          <form method="post" action="{% url 'watermarks:clear_database' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn btn-danger pull-right">
              <span class="glyphicon glyphicon-trash"></span> Cancella Photo
            </button>
          </form>

        </div>
      </div>
    </div>
    <div class="col-md-9">
      {% block photos_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
