<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-vvf">
  <a class="navbar-brand" href="#"><img src="/media/images/template/fiamma.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
        <a class="nav-link" href="{% url 'watermarks:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <!-- INIZIO SEZIONE VIDEO -->
      <li class="nav-item dropdown {% if '/create/' in request.path %} active{% endif %} {% if request.resolver_match.url_name == 'video-list' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="{% url 'video:video-create' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Video Files</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'video:video-create' %}">Crea</a>
          <a class="dropdown-item" href="{% url 'video:video-list' %}">Lista</a>
        </div>
      </li>
      <!-- FINE SEZIONE VIDEO -->

      <li class="nav-item {% if '/multiple/' in request.path %} active{% endif %}">
        <a class="nav-link" href="{% url 'watermarks:basic_upload' %}">Photos</a>
      </li>
      <!-- INIZIO SEZIONE NOTIZIA -->
      <li class="nav-item dropdown {% if '/create/' in request.path %} active{% endif %} {% if request.resolver_match.url_name == 'list' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="{% url 'video:video-create' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Notizia</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'notizia:notizia_create' %}">Crea</a>
          <a class="dropdown-item" href="{% url 'notizia:notizia_list' %}">Lista</a>
        </div>
      </li>
      <!-- FINE SEZIONE NOTIZIA -->
     </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item dropdown"><a class="nav-link" href="">User: {{ user.get_username }}</a></li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
      {% else %}
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
