// You can change some variable of bootstrap here, for example, primary color
// $primary: red;

@import '../bootstrap/bootstrap';
@import 'home';
@import 'default';
@import 'media';

p {
  color: blue;
}
h3.notizia {
  text-align: left;
  font-variant-caps: all-small-caps;
  font-size: 1.4em;
  line-height: 0.9em;
}
